:root {
  --clr-dark: #381c50;
  --clr-light: #ffe4a8;
  --clr-teal: #71b9b1;
  --font-primary: "Libre Franklin", sans-serif;
  --font-secondary: "alda", serif;
  --font-quotes: "Libre Franklin", sans-serif;

  --fs-xxl: clamp(2.5rem, 8vw, 7rem);
  --fs-xl: clamp(2rem, 4.25vw, 4rem);
  --fs-700: clamp(1rem, 2vw, 1.75rem);
  --fs-600: clamp(0.75rem, 1.6vw, 1.5rem);
  --fs-500: clamp(0.6rem, 1.5vw, 1.25rem);
  --fs-400: clamp(0.6rem, 1.5vw, 1rem);

  --button-height: 4rem;
}
/* Set default font and box-sizing */
* {
  font-family: var(--font-secondary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--clr-light);
}

h1 {
  font-family: var(--font-primary);
}

h3 {
  font-family: var(--font-primary);
}

em {
  font-family: inherit;
  font-style: oblique;
  font-weight: 900;
  color: inherit;
}

p {
  font-family: var(--font-secondary);
}

a {
  font-family: var(--font-secondary);
}

/* Style the navigation bar */

body {
  color: white;
  background-image: linear-gradient(
      rgba(85, 138, 132, 0.25),
      rgb(113, 185, 177, 0.25),
      rgba(85, 138, 132, 0.25)
    ),
    url(../images/86343.jpg),
    radial-gradient(rgba(255, 255, 255, 1), rgb(204, 204, 204));
  background-size: 100%;

  background-blend-mode: color-burn;
  height: fit-content;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;

  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}

nav.scroll {
  background-color: var(--clr-light);
  opacity: 0.98;
}

.logo,
.logo-small {
  height: 5.5rem;
  padding-inline: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 100;
  /*background-image: linear-gradient(-90deg, #71b9b1, #558a84);*/
}

.logo-small {
  display: none;
}

.checkbtn {
  font-size: clamp(2rem, 5vw, 3rem);
  color: var(--clr-light);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.support-link {
  display: flex;
  align-items: center;
  /* margin-inline: 50px; */
  position: relative;
  z-index: 100;
}

.support-link a {
  display: flex;
  align-items: center;
  padding: 10px;
  height: var(--button-height);
  transition: 0.1s;
  /* transition: color 0.4s ease-in-out; */
  font-family: var(--font-primary);
  font-size: var(--fs-500);
  text-decoration: none;
  text-align: center;
  color: var(--clr-light);
  text-transform: uppercase;
  background-color: var(--clr-dark);
  border-radius: 5px;
}

.support-link a:hover {
  background-color: var(--clr-light);
  scale: 102%;
}
.support-link:hover a {
  color: var(--clr-dark);
  text-decoration: none;
}

.nav-left {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  padding-right: 20px;
  position: relative;
}
.nav-buttons {
  display: flex;
  list-style: none;
  align-items: center;
  padding-right: 20px;
  position: relative;
}

.nav-buttons li a {
  display: flex;
  align-items: center;
  padding: 15px;
  height: var(--button-height);
  transition: 0.1s ease-in-out;
  /* transition: color 0.4s ease-in-out; */
  font-family: var(--font-primary);
  font-size: var(--fs-500);
  text-decoration: none;
  text-align: center;
  color: var(--clr-light);
  text-transform: uppercase;
}

.nav-buttons li a:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  scale: 95%;
  border-radius: 5px;
  text-decoration: none;
}

nav.scroll ul li a:hover {
  color: var(--clr-light);
}

nav.scroll li a {
  color: var(--clr-dark);
}

.active {
  opacity: 50%;
}

@media (max-width: 1230px) {
  nav img {
    padding-left: 20px;
  }
  nav {
    align-items: center;
  }
  .support-link {
    max-width: 150px;
  }
}

@media (max-width: 955px) {
  .button-div {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1vw;
    margin-top: 5vh;
  }

  .hero-btn {
    width: 40vw;
  }

  .search-div {
    margin-left: 1rem;
  }

  .checkbtn {
    display: flex;
    align-items: center;
    height: 100px;
    color: var(--clr-light);
  }
  .checkbtn i {
    color: var(--clr-light);
    background: none;
    height: clamp(3rem, 10vw, 4rem);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--clr-dark);
  }
  /* nav.scroll {
    background: none;
  } */
  .checkbtn i:hover {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    scale: 110%;
  }
  nav {
    width: 100%;
    align-items: center;
  }

  .nav-buttons {
    position: fixed;
    top: 0;
    left: -1800px;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    padding-top: 100px;
    z-index: -1;
    background-color: var(--clr-light);
  }

  .support-link {
    width: 40vw;
    margin-left: 3vw;
  }

  .nav-buttons li {
    padding: none;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-buttons li a {
    padding: none;
    max-height: 4rem;
    width: 80vw;
    margin-inline: auto;
    color: var(--clr-dark);
  }

  #check:checked ~ .nav-buttons {
    left: 0;
  }

  /* about page responsiveness */
  .overview-div {
    flex-direction: column;
  }
}

/* Style the hero section */
.hero-container {
  background-color: var(--clr-light);
  position: relative;
  text-align: left;
  color: white;
  max-width: 100%;
  max-height: 100vh;
  margin-top: -105px;
  overflow: hidden;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 75%;
  color: var(--clr-light);
  font-size: var(--fs-600);
}

.hero-text h1 {
  font-size: var(--fs-xxl);

  color: inherit;
}
label {
  display: none;
}
.accent {
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-style: bold;
  color: var(--clr-light);
}

.hero-copy-des {
  font-family: var(--font-secondary);
  margin-top: -1em;
  margin-left: 0.5rem;
  font-size: var(--fs-600);
}

.hero-copy {
  font-size: var(--fs-600);
  font-weight: 300;
  margin-left: 0.5rem;
  padding-bottom: 20px;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: var(--clr-light);
}

.hero-copy span {
  font-family: var(--font-secondary);
  font-size: var(--fs-700);
}

.hero-copy:nth-child(odd) {
  display: none;
}
.rotating-domains {
  display: flex;
  flex-direction: column;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  margin-bottom: 3px;
  width: auto;
}

.domain {
  font-family: var(--font-primary);
  font-size: var(--fs-700);
  position: relative;
  animation: roll 9s ease infinite;
  font-weight: 600;
}

@keyframes roll {
  0%,
  100% {
    top: 0;
    /* width: 139px; */
  }
  28% {
    top: 0;
    /* width: 139px; */
  }
  33% {
    top: -50px;
    /* width: 160px; */
  }
  61% {
    top: -50px;
    /* width: 160px; */
  }
  66% {
    top: -100px;
    /* width: 135px; */
  }
  94% {
    top: -100px;
    /* width: 135px; */
  }
}

.hero-vid {
  filter: brightness(70%) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  background-size: cover;
  padding: none;
  position: relative;
  min-width: 100%;
  min-height: 50vh;
  /* margin-top: -110px; */
}

.hero-img {
  filter: brightness(60%) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  width: 100%;
  padding: none;
  position: relative;
  margin-top: -110px;
  max-width: 100%;
  max-height: auto;

  /* transform: translate(0, 5%); */
}

.img-div {
  padding: 0;
}

.button-div {
  display: flex;
  max-height: 3.5rem;
}

.button-div label {
  display: none;
}
.search-div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-left: 1rem; */
  margin-right: 1rem;
}

.search-div input {
  background-color: white;
  border: 2px solid var(--clr-light);
  border-radius: 50px;
  padding: 1rem 2rem;
  width: clamp(10rem, 30vw, 20rem);
  color: var(--clr-dark);
  font-family: var(--font-primary);
  font-size: var(--fs-400);
  position: relative;
  transition: width 0.5s;
}

.search-div input:hover {
  border: 2.5px solid var(--clr-dark);
}

.search-div input:focus {
  border: 2.5px solid var(--clr-dark);
  width: clamp(15rem, 50vw, 40rem);
}

.search-div button {
  background-color: white;
  border: none;
  border-radius: 50%;
  height: 90%;
  aspect-ratio: 1;
  position: absolute;
  right: 3.5px;
  top: 4%;
}

.search-div button:hover {
  border: 2px solid var(--clr-dark);
}

.search-div button:active {
  scale: 95%;
}

.search-div button i {
  font-size: 2em;
  color: var(--clr-dark);
}

.hero-btn-div {
  border-width: 1px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-color: var(--clr-light);
  border-style: solid;
  border-radius: 5px;
  max-width: 25rem;
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  scale: 100%;
  text-decoration: none;
  background-color: transparent;
}

.hero-btn {
  font-family: var(--font-primary);
  text-transform: uppercase !important;
  font-size: var(--fs-500);
  text-decoration: none;
  color: var(--clr-light);
  background-color: transparent;
  border: none;
}

.hero-btn-div:hover {
  scale: 110%;
}

.hero-btn-div:active {
  scale: 100%;
}

.hero-btn-div:hover {
  text-decoration: none;
}

/* Style the content section */

.flex-grid {
  display: flex;
  flex-direction: column;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
  border-radius: 25px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .frosted-glass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  max-width: 90vw;
}

.column {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.diagram-section {
  margin-top: -2em;
  margin-inline: auto;
  max-width: 90vw;
}

.diagram-section .row .column {
  height: 90%;

  /* background-color: #06bde3; */
}

.diagram-text {
  flex: 2;
  margin-right: 5rem;
}

.diagram-text h1 {
  font-size: var(--fs-700);

  padding-bottom: 1em;
  color: var(--clr-dark);
}

.diagram-section p {
  font-family: "Libre Franklin", serif;
  font-style: normal;
  font-size: var(--fs-600);
  /* width: 80%; */
  padding: 0.25em;
  padding-left: 0;
  /* margin-left: -1em; */
}

.diagram-section em {
  font-style: normal;
  font-weight: 700;
  font-family: var(--font-primary);
  color: var(--clr-dark);
}

.diagram {
  height: 50vh;
  width: 30rem;
}

.hidden {
  opacity: 0;
  filter: blur(20px);
  transform: translateX(-100%);
  transition: all 01s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 01s;
}

/* quotes section */

.quotes {
  max-width: 80vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-inline: auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(max(300px, 100%/4), 1fr));
}

.content-text {
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
  position: relative;
}

.icon-background {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10em;
  transform: translate(-60%, -50%);
  color: var(--clr-teal);
  opacity: 30%;
  z-index: -1;
  font-family: "Font Awesome 5 Free";
}
blockquote {
  font-family: inherit;
  font-size: var(--fs-400);
  font-style: italic;
  padding: 0.35em 75px;
  line-height: 1.45;
  color: var(--clr-dark);
  z-index: 99;
  position: relative;
}
.blockquote-em {
  font-family: var(--font-secondary);
  font-size: var(--fs-xl);
  /* line-height: 1; */
  /* position: relative; */
  margin-top: -1.5rem;
  color: var(--clr-dark);
}
.quote-div:before {
  font-family: var(--font-quotes);
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 200px;
  position: absolute;
  left: -12px;
  top: -30px;
  color: #381c50;
  opacity: 30%;
}
.quote-div:after {
  font-family: var(--font-quotes);
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 200px;
  position: absolute;
  right: -12px;
  bottom: -30px;
  transform: rotate(180deg);
  color: #381c50;
  opacity: 30%;
}
cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
cite:before {
  content: "\2014 \2009";
}

.content-text p {
  font-family: inherit;
  font-style: italic;
  font-size: var(--fs-400);
  padding: 0.35em 75px;
}

.content-text p em {
  font-style: bold;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: var(--clr-dark); */
  background-color: var(--clr-light);
  /* height: 15vh; */
  background-image: linear-gradient(
      rgba(85, 138, 132, 0.2),
      rgb(113, 185, 177, 0.2),
      rgba(85, 138, 132, 0.2)
    ),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/webp/mountain.webp);
  background-position: 0%;
  padding: 1rem;
}
.mission p {
  color: inherit;
  font-family: var(--font-primary);
  font-size: var(--fs-700);
  font-weight: 600;
  /* z-index: 1000; */
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
  max-width: 80vw;
}

.pillars-section {
  background-image: linear-gradient(#ffe4a8, #fdd47d);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
}

.pillars-row {
  align-items: start;
}

.pillars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex: 1;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-primary);
}

.pillars h2 {
  color: var(--clr-dark);
  margin-bottom: 1em;
  font-size: var(--fs-700);
  font-family: var(--font-secondary);
}

.pillars p {
  padding-bottom: 0.35em;
  padding-top: 0.35em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: start;
  font-size: var(--fs-400);
  margin: 0;
  text-wrap: pretty;
  font-family: inherit;
}

.pillars blockquote {
  font-family: inherit;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.cta-button {
  margin: 0.35em;
}

.hidden:nth-child(1) {
  transition-delay: 0ms;
}
.show:nth-child(2) {
  transition-delay: 100ms;
}

.show:nth-child(3) {
  transition-delay: 300ms;
}

.show:nth-child(4) {
  transition-delay: 400ms;
}

.one {
  flex: 0.75;
}

.two {
  flex: 1;
}

.three {
  flex: 2.5;
  position: relative;
}

.phone {
  display: flex;
  left: 0;
  width: 700px;
  height: 100%;
}

section.vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.vid {
  height: 8000px;
  position: relative;
  margin-top: -1rem;
}

section.vid div.vid-div {
  position: sticky;
  top: 0px;
  z-index: -1;
}

section.vid div.step-heading h1 {
  font-size: var(--fs-xxl);
  color: var(--clr-dark);
}

section.vid div.step-heading p {
  font-size: var(--fs-600);
  color: var(--clr-dark);
}

section.vid div.step-heading {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

.main-title {
  margin: auto;
  margin-bottom: 2rem;
  background-image: url(../images/webp/mountain.webp);
  background-position: center;
  padding: 2rem;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-xxl);
  color: var(--clr-light);
}
.main-title h1 {
  font-size: inherit;
  color: inherit;
}

/* page styles start here*/

.header-section {
  background-color: var(--clr-light);
  position: relative;
  text-align: left;
  color: white;
  max-width: 100%;
  max-height: 28vh;
  z-index: -1;
  margin-top: -110px;
  overflow: hidden;
}

.header-img-div {
  /* max-height: 50vh; */
  /* width: 100%; */
  overflow: hidden;
  /* margin-top: -115px; */
}

.header-img {
  filter: brightness(60%) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  padding: 0;
  position: relative;
  width: 100%;
  height: 28vh;
  object-fit: cover;
}

.header-text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70vw;
  transform: translate(clamp(-50vw, -60%, -30vw), 0%);
}

.header-text h1 {
  font-size: var(--fs-xl);
  /* padding-bottom: 10px; */
  color: inherit;
  /* white-space: nowrap; */
}

.header-text p {
  color: inherit;
  font-family: var(--font-secondary);
  font-size: var(--fs-600);
}

/* spatial explorer*/

.spatial-explorer {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  max-width: 80vw;
  border-style: dashed;
  border-width: 1px;
  border-color: var(--clr-dark);

  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.spatial-explorer p {
  margin: auto;
  color: var(--clr-dark);
  font-size: var(--fs-700);
  margin-inline: 4rem;
  text-justify: center;
}

.spatial-explorer div {
  margin-bottom: 3rem;
}

/*about us*/

.overview-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-image: linear-gradient(var(--clr-light), #bba77c); */
  margin-top: -1rem;
  padding: 25px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  margin-bottom: 3rem;
}

.video-div {
  flex: 1.5;
  filter: brightness(75%);
  transition: 0.5s;

  margin: 0rem 3rem;
  z-index: -1;
  overflow: hidden;
}

.video-div iframe {
  border-radius: 10px;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

.video-div:hover {
  filter: brightness(100%);
}

.intro-video {
  width: 100%;
  margin: auto;
  transition: 1s;
  border-radius: 5px;
}

.video-text-div {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 3rem;
}

.video-text-div h1 {
  font-size: var(--fs-600);
  flex: 1;
  padding-bottom: 0.5em;
  color: var(--clr-dark);
}

.video-text-div p {
  font-family: var(--font-primary);
  font-style: normal;
  font-size: var(--fs-400);
  padding: 0.25em;
  padding-left: 0;
  flex: 4;
}

.prompt {
  font-family: var(--font-secondary);
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 5px;
  padding: 10px;
  border-color: var(--clr-light);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.gk-disclaim {
  margin: auto;
  text-align: center;
}

.cite-link {
  font-family: var(--font-secondary);
  background-color: var(--clr-light);
  border-radius: 5px;
  padding-inline: 0.25rem;
  color: var(--clr-dark);
  border-color: var(--clr-dark);
}

.video-btn a {
  text-transform: uppercase !important;
  font-size: var(--fs-400);
  text-decoration: none;
  color: var(--clr-light);
}

.scroll-intro-section {
  max-height: 8rem;
  margin-top: -1rem;
  margin-bottom: 7rem;
}

.scroll-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  width: fit-content;
  max-width: 80vw;
  margin: auto;
  font-family: var(--font-primary);
  font-size: var(--fs-600);
  font-weight: 600;
  z-index: 1;
  filter: drop-shadow(--clr-dark);
}

.scroll-intro p {
  font-family: inherit;
}

.team-section {
  min-height: 0;
  /* overflow: auto; */
}

.team-section div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;

  min-height: 0;
  margin: auto;
  /* overflow: auto; */
}

.team-section h2 {
  font-size: var(--fs-xl);
  color: var(--clr-light);
  font-family: var(--font-secondary);
  font-size: var(--fs-xxl);
}

.team-section ul {
  width: fit-content;
  max-width: clamp(50%, 90vw, 60%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  min-height: 0;
  padding: 0;
}

.team-member-card {
  position: relative;
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: var(--fs-500);
  font-weight: 500;
  max-width: 100%;
  border-color: var(--clr-dark);
  min-height: 0;
}

.team-member-card .img {
  flex: 7;
  width: 60%;
  aspect-ratio: 0.8;
  border-radius: 1000px;
  margin-bottom: 15px;
  margin-top: 10px;
  overflow: hidden;
}

.team-member-card img {
  width: 100%;
}

.team-member-card .name {
  font-size: var(--fs-700);
}

.team-member-card p {
  flex: 1;
  color: var(--clr-dark);
  font-family: var(--font-primary);
  text-align: center;
}

/*Contact*/

.contact-section {
  height: 100%;
}

.contact-section ul {
  list-style: none;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(max(300px, 100%/3), 1fr));
  gap: 10px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin: 50px 15%;
}

.contact {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  /*border-style: dashed;*/
  border-width: 1px;
  height: 100%;
  width: 100%;
  /*border-color: var(--clr-dark);*/
  /* text-transform: capitalize; */
  /* background-image: linear-gradient(#74c7c0, #a0d8d3); */
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.contact-section i {
  font-size: var(--fs-xxl);
  margin-bottom: 20px;
  color: var(--clr-dark);
}

.contact-section h3 {
  color: var(--clr-dark);
  font-size: var(--fs-700);
}

.contact-section p {
  color: var(--clr-dark);
  font-size: var(--fs-700);
}

.bottom-logo {
  display: flex;
  justify-content: center;
  margin: 48px 50px;
}
.bottom-logo img {
  height: 110px;
  width: 100%;
}

@media (max-width: 628px) {
  .boxes {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
  .box {
    margin: auto;
  }
  .glass {
    display: none;
  }
  .space {
    display: none;
  }

  .d {
    display: none;
  }

  .diagram-section .row {
    flex-direction: column;
  }
  .diagram-text {
    margin: auto;
  }
  .diagram-text div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pillars-row {
    flex-direction: column;
  }

  .pillars {
    margin-bottom: 2rem;
  }
  .pillars h1 {
    margin-bottom: 0.5rem;
  }

  .frosted-glass {
    margin-left: none;
    margin-right: none;
    margin-top: none;
  }
}

@media (max-width: 530px) {
  .diagram {
    width: 100vw;
    /* margin-left: -12vw; */
  }
  .hero-copy:nth-child(even) {
    display: none;
  }
  .hero-copy:nth-child(odd) {
    display: block;
  }
  .video-text-div {
    margin: 0;
  }
}

/* natural language search stylting */
.coming-soon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  min-height: 80vh;
  width: fit-content;
  margin-inline: auto;
  overflow: hidden;
  margin-top: -2rem;
  background-image: url(../images/webp/map-mock.webp);
  background-color: white;
  background-position: center;
  background-size: cover;
  border-radius: 5%;
}

.coming-soon-wiki {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  min-height: 80vh;
  width: fit-content;
  margin-inline: auto;
  overflow: hidden;
  margin-top: -2rem;
  background-image: url(../images/webp/wiki-mock.webp);
  background-color: white;
  background-position: center;
  background-size: cover;
  border-radius: 5%;
}

.no-bg {
  background-color: none;
  background: none;
  margin-top: 0;
}

.label {
  /* position: absolute; */
  top: 4rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.6));
}

.label h1 {
  font-size: var(--fs-xxl);
  text-transform: uppercase !important;
  color: var(--clr-dark);
}

/* .mock {
  max-width: 100%;
  height: 100%;

  position: relative;
  opacity: 35%;
} */
.label p {
  font-size: var(--fs-500);
}

/* footer */ /* Reset default margin and padding */
footer,
.container {
  margin: 0;
  padding: 0;
}

/* Center align the content */
.footer-container {
  display: flex;
  justify-content: center;
  color: inherit;
}

/* Style the footer sections */
.footer-section {
  /* max-width: 300px; */
  padding: 20px;
  padding-inline: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* Add background color and adjust font styles */
footer {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: Arial, sans-serif;
  font-size: var(--fs-500);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  position: relative;
}

.copyright {
  position: absolute;
  left: 20px;
  bottom: 5px;
  font-size: var(--fs-400);
}

/* Style heading elements */
h3 {
  font-size: var(--fs-400);
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--clr-dark);
}

/* Style address paragraph */
p {
  margin-bottom: 10px;
  color: var(--clr-dark);
}

/* Style the contact info list */
ul {
  list-style-type: none;
  padding: 0;
  color: var(--clr-dark);
}

/* Style the contact info list items */
li {
  margin-bottom: 5px;
  color: inherit;
  font-size: var(--fs-400);
}

/* Style links */
a {
  color: var(--clr-dark);
  text-decoration: none;
}

.footer-container em {
  font-style: normal;
  font-size: var(--fs-600);
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 628px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    padding-bottom: 40px;
  }
  .logo {
    transform: scale(80%);
  }

  .nav-buttons li a,
  .support-link {
    font-size: 20px;
  }
}
